logs/
conf/
.vscode/
app/sql/
.env*

app/public/license.txt
app/public/readme.html
app/public/.htaccess

app/public/wp-admin/
app/public/wp-includes/
app/public/*.php

app/public/wp-content/languages/
app/public/wp-content/upgrade/
app/public/wp-content/upgrade-temp-backup/
app/public/wp-content/uploads/
app/public/wp-content/cache/

app/public/wp-content/plugins/advanced-custom-fields/
app/public/wp-content/plugins/polylang/
app/public/wp-content/plugins/wp-mail-smtp/
app/public/wp-content/plugins/wpforms-lite/

**/node_modules/
**/vendor/
**/.cache/
**/npm-debug.log*
**/yarn-error.log*

.DS_Store
Thumbs.db