/**
 * Alina Trefelova Portfolio
 * © 2026 Alina Trefelova. All rights reserved.
 * Author: Alina Trefelova / ATcode
 * Description: Глобальные примеси (mixins) SCSS.
 */

@mixin svg-background($img-name, $inset: -0.625rem, $media-size: 60.0625rem) {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: $inset;
        z-index: -1;
        pointer-events: none;

        background-image: url("../images/#{$img-name}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        @media (max-width: $media-size) {
            top: -0.5rem;
            bottom: -0.5rem;
            left: 50%;
            right: auto;

            width: calc(100% + 6.25rem);
            transform: translateX(-50%);
        }
    }
}
